

.App {
  width: 100vw;
  height: 100vh;
  background-image: url(".//Images/Wizard1Edit2.png"), url(".//Images/HorizontalBarsWaterColorSun.png"),
  url(".//Images/HorizontalBarsWaterColorOcean.png");
  
  background-position: right bottom -10vh, top -20vh center, center bottom -40vh;
  background-size: contain, contain, contain;
  background-repeat: no-repeat, repeat-x, repeat-x;
  position: relative;
  font-family: 'Cormorant Garamond', serif;;
}

.Name {
  font-size: 5vw;
  position: fixed;
  bottom: 55vh;
  left: 5vw;
}

.Quote1 {
  font-size: 2vw;
  position: fixed;
  bottom: 40vh;
  left: 10vw;
  width: fit-content;
  white-space: nowrap;

}

.Quote2 {
  overflow: auto;
  font-size: 2vw;
  position: fixed;
  bottom: 25vh;
  left: 15vw;
}

.BottomChevron {
  position: fixed;
  bottom: -2vh;
  left: 50%;
  font-size: 5vh;
  color: rgb(123, 104, 251);
  text-align: center;
}

.ProjectLinkAnchor {
  position: fixed;
  right: 58vh;
  bottom: 58vh;
  transform: rotate(.11turn);
  font-size: 3vh;
}

@media screen and (max-width: 600px) {

  .App {
    background-position: right -10vw bottom -10vw, top -20vw center, center bottom -40vw;
  }


  .Name {
    font-size: 10vw;
    bottom: unset;
    top: 15vh;
  }

  .Quote1 {
    font-size: 6vw;
    left: 5vw;
    bottom: unset;
    top: 26vh;
  }

  .Quote2 {
    font-size: 5vw;
    left: 5vw;
    bottom: unset;
    top: 34vh;
  }

  .ProjectLinkAnchor {
    font-size: 7vw;
    right: unset;
    bottom: 40vh;
    left: 5vh;
    transform: unset;
  }
}